.translation-set-links-display {
	display: block;
}

.translation-set-links-fancy-flyout {
	display: none;
	position: absolute;
	width: 110px;
	z-index: 9999;
	float: none;
	clear: both;
	border: none;
	background: #e9e9e9;
	border-radius: 4px;
	padding: 2px 0;
}

.translation-set-links-display img {
	cursor: pointer;
}

.translation-set-links-fancy-flyout img {
	width: 16px;
	height: 11px;
	cursor: pointer;
}

.translation-set-links-language-name {
	width: 75px;
	text-align: center;
	display: inline-block;
}

.translation-set-links {
  	padding: 3px 5px;
}

.translation-set-links-title {
	font-size: 11px;
	text-transform: uppercase;
	background: #e9e9e9;
	padding: 2px 10px;
	border-radius: 5px;
	font-weight: 600;
	color: #555555;
	cursor: pointer;
}